
.images{
    white-space: nowrap;
    overflow-x: scroll;
  

}

.card{
    display: inline;
    background-color: rgba(0, 0, 0);
}


.img-styling:hover{
    transform: scale(1.2);
}

.img-styling{
    width: 250px;
    height: 200px;
    margin: 20px;
    transition: transform .1s;
}
